In [1]:
#Import libraries
import pandas as pd
import glob
import os
import datetime as dt
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
import matplotlib.dates
import matplotlib.dates as mdates
import seaborn as sns

In [27]:
#Import csv files
path = "/Users/raws/Downloads/mobile_game_data"
csv_files = glob.glob(path + "/*.csv")

csv_files

['/Users/raws/Downloads/mobile_game_data/test.csv',
 '/Users/raws/Downloads/mobile_game_data/level_seq.csv',
 '/Users/raws/Downloads/mobile_game_data/dev.csv',
 '/Users/raws/Downloads/mobile_game_data/train.csv',
 '/Users/raws/Downloads/mobile_game_data/level_meta.csv']

In [28]:
#Append csvs to list using list comprehension
df_list = [pd.read_csv(filename, delimiter='\t', index_col=None, header=0) for filename in csv_files]
df_list

[      user_id
 0           1
 1           2
 2           3
 3           4
 4           5
 ...       ...
 2768     2769
 2769     2770
 2770     2771
 2771     2772
 2772     2773

 [2773 rows x 1 columns],
          user_id  level_id  f_success  f_duration  f_reststep  f_help  \
 0          10932         1          1       127.0    0.500000       0
 1          10932         2          1        69.0    0.703704       0
 2          10932         3          1        67.0    0.560000       0
 3          10932         4          1        58.0    0.700000       0
 4          10932         5          1        83.0    0.666667       0
 ...          ...       ...        ...         ...         ...     ...
 2194346    10931        40          1       111.0    0.250000       1
 2194347    10931        41          1        76.0    0.277778       0
 2194348    10931        42          0       121.0    0.000000       1
 2194349    10931        42          0       115.0    0.000000       0
 2194350    10931        42          1        91.0    0.181818       0

                         time
 0        2020-02-01 00:05:51
 1        2020-02-01 00:08:01
 2        2020-02-01 00:09:50
 3        2020-02-01 00:11:16
 4        2020-02-01 00:13:12
 ...                      ...
 2194346  2020-02-03 16:26:37
 2194347  2020-02-03 16:28:06
 2194348  2020-02-03 16:30:17
 2194349  2020-02-03 16:33:40
 2194350  2020-02-03 16:35:18

 [2194351 rows x 7 columns],
       user_id  label
 0       10932      0
 1       10933      1
 2       10934      0
 3       10935      1
 4       10936      0
 ...       ...    ...
 2653    13585      0
 2654    13586      0
 2655    13587      0
 2656    13588      1
 2657    13589      0

 [2658 rows x 2 columns],
       user_id  label
 0        2774      0
 1        2775      0
 2        2776      1
 3        2777      0
 4        2778      1
 ...       ...    ...
 8153    10927      1
 8154    10928      1
 8155    10929      0
 8156    10930      1
 8157    10931      0

 [8158 rows x 2 columns],
       f_avg_duration  f_avg_passrate  f_avg_win_duration  f_avg_retrytimes  \
 0          39.889940        0.944467           35.582757          0.017225
 1          60.683975        0.991836           56.715706          0.004638
 2          76.947355        0.991232           71.789943          0.004480
 3          58.170347        0.993843           54.842882          0.004761
 4         101.784577        0.954170           85.650547          0.027353
 ...              ...             ...                 ...               ...
 1504      594.878788        0.453730          133.625000          3.187500
 1505      486.562500        0.454180          115.906250          3.218750
 1506      325.968750        0.573525           86.250000          2.687500
 1507      793.096774        0.322684          164.000000          5.419355
 1508      423.406250        0.461409          106.833333          2.200000

       level_id
 0            1
 1            2
 2            3
 3            4
 4            5
 ...        ...
 1504      1505
 1505      1506
 1506      1507
 1507      1508
 1508      1509

 [1509 rows x 5 columns]]

In [31]:
users = df_list[1]
meta = df_list[4]

In [32]:
users

,user_id,level_id,f_success,f_duration,f_reststep,f_help,time
0,10932,1,1,127.0,0.500000,0,2020-02-01 00:05:51
1,10932,2,1,69.0,0.703704,0,2020-02-01 00:08:01
2,10932,3,1,67.0,0.560000,0,2020-02-01 00:09:50
3,10932,4,1,58.0,0.700000,0,2020-02-01 00:11:16
4,10932,5,1,83.0,0.666667,0,2020-02-01 00:13:12
...,...,...,...,...,...,...,...
2194346,10931,40,1,111.0,0.250000,1,2020-02-03 16:26:37
2194347,10931,41,1,76.0,0.277778,0,2020-02-03 16:28:06
2194348,10931,42,0,121.0,0.000000,1,2020-02-03 16:30:17
2194349,10931,42,0,115.0,0.000000,0,2020-02-03 16:33:40
2194350,10931,42,1,91.0,0.181818,0,2020-02-03 16:35:18