In [34]:
import pandas as pd
import glob
import os
import datetime as dt
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
import matplotlib.dates
import matplotlib.dates as mdates
import seaborn as sns

In [35]:
path = os.getcwd()
csv_files = glob.glob(path + "/*.csv")

csv_files

['/Users/raws/Documents/GitHub/portfolio/Python/player_data/player_last_logout.csv',
 '/Users/raws/Documents/GitHub/portfolio/Python/player_data/player_damage.csv',
 '/Users/raws/Documents/GitHub/portfolio/Python/player_data/player_last_login.csv']

In [36]:
df_list = [pd.read_csv(filename, index_col=None, header=0) for filename in csv_files]
df_list

[      user_id      event_timestamp
 0  b5a8c3f9e2  2023-08-26 03:42:18
 1  7d1b0e6f4a  2023-08-26 09:15:37
 2  2f9c6e8d1b  2023-08-26 01:28:54
 3  a3e7b4c0d9  2023-08-26 07:59:06
 4   f6b2d8a5c  2023-08-26 11:33:22
 5  9e4c1f7b3a  2023-08-26 06:10:45
 6   d5a0c8e2f  2023-08-26 10:49:03
 7  1b6f3e9d7c  2023-08-26 02:14:28
 8   c4d9a2b8e  2023-08-26 08:37:50
 9  8e0c7b5f1d  2023-08-26 04:56:12,
        user_id      event_timestamp  damage_taken
 0   d7f1e9b2a4  2023-08-15 09:23:42             6
 1   d7f1e9b2a4  2023-08-17 08:12:19            15
 2   d7f1e9b2a4  2023-08-18 11:05:33             1
 3   d7f1e9b2a4  2023-08-21 16:34:56            15
 4   d7f1e9b2a4  2023-08-22 19:48:01             6
 5   d7f1e9b2a4  2023-08-24 07:36:29            11
 6   d7f1e9b2a4  2023-08-26 01:15:22             8
 7   a2e4f8c6b0  2023-08-26 02:37:55             7
 8   c5d8a9f1e2  2023-08-14 17:29:18             8
 9   c5d8a9f1e2  2023-08-16 14:52:05            12
 10  c5d8a9f1e2  2023-08-18 22:08:19             9
 11  c5d8a9f1e2  2023-08-20 09:47:41            10
 12  c5d8a9f1e2  2023-08-23 03:25:57             3
 13  c5d8a9f1e2  2023-08-24 13:14:12             6
 14  c5d8a9f1e2  2023-08-26 02:05:38             6
 15  b6f2d5a8c0  2023-08-17 06:59:30            12
 16  9e1a3c7f5b  2023-08-26 00:05:45            16
 17  9e1a3c7f5b  2023-08-26 04:21:59             9
 18  9e1a3c7f5b  2023-08-26 08:45:14             3
 19  9e1a3c7f5b  2023-08-26 12:17:36            17
 20  9e1a3c7f5b  2023-08-26 16:59:05             4
 21  9e1a3c7f5b  2023-08-26 20:30:49             4
 22  9e1a3c7f5b  2023-08-26 23:55:02            15
 23  4d6a2f8c1e  2023-08-17 14:08:47            16
 24  4d6a2f8c1e  2023-08-18 17:29:01             7
 25  4d6a2f8c1e  2023-08-20 10:44:24             8
 26  4d6a2f8c1e  2023-08-21 19:03:11            12
 27  4d6a2f8c1e  2023-08-23 08:45:27             4
 28  4d6a2f8c1e  2023-08-24 14:59:58             2
 29  4d6a2f8c1e  2023-08-26 01:30:42            13
 30  8b0e7f3c9a  2023-08-26 02:55:08             4
 31  8b0e7f3c9a  2023-08-26 06:08:22             8
 32  8b0e7f3c9a  2023-08-26 09:20:39            10
 33  8b0e7f3c9a  2023-08-26 12:45:18            10
 34  8b0e7f3c9a  2023-08-26 15:57:29            17
 35  8b0e7f3c9a  2023-08-26 19:08:10            12
 36  8b0e7f3c9a  2023-08-26 22:33:47             3
 37  f1d5a7e0c9  2023-08-16 23:15:29            17
 38  e2b9d4a6f8  2023-08-20 08:46:52             6
 39  3a5c7e9b1d  2023-08-18 07:57:14             3,
       user_id      event_timestamp
 0  b5a8c3f9e2  2023-08-25 09:23:42
 1  7d1b0e6f4a  2023-08-18 16:55:10
 2  2f9c6e8d1b  2023-08-24 03:37:28
 3  a3e7b4c0d9  2023-08-16 11:10:55
 4   f6b2d8a5c  2023-08-28 20:45:19
 5  9e4c1f7b3a  2023-08-29 07:02:33
 6   d5a0c8e2f  2023-08-13 14:29:05
 7  1b6f3e9d7c  2023-08-20 22:18:47
 8   c4d9a2b8e  2023-08-22 05:37:15
 9  8e0c7b5f1d  2023-08-27 18:09:50]

In [37]:
logout_df = df_list[0]
damage_df = df_list[1]
login_df = df_list[2]

In [38]:
login_df

      user_id      event_timestamp
0  b5a8c3f9e2  2023-08-25 09:23:42
1  7d1b0e6f4a  2023-08-18 16:55:10
2  2f9c6e8d1b  2023-08-24 03:37:28
3  a3e7b4c0d9  2023-08-16 11:10:55
4   f6b2d8a5c  2023-08-28 20:45:19
5  9e4c1f7b3a  2023-08-29 07:02:33
6   d5a0c8e2f  2023-08-13 14:29:05
7  1b6f3e9d7c  2023-08-20 22:18:47
8   c4d9a2b8e  2023-08-22 05:37:15
9  8e0c7b5f1d  2023-08-27 18:09:50

In [39]:
login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [40]:
login_df.duplicated().sum()

0

In [41]:
login_df['event_timestamp'] = pd.to_datetime(login_df['event_timestamp'], format='%Y-%m-%d %H:%M:%S')

In [42]:
login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 288.0+ bytes

In [43]:
logout_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [44]:
logout_df.duplicated().sum()

0

In [45]:
logout_df['event_timestamp'] = pd.to_datetime(logout_df['event_timestamp'], format='%Y-%m-%d %H:%M:%S')

In [46]:
logout_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 288.0+ bytes

In [47]:
damage_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          40 non-null     object
 1   event_timestamp  40 non-null     object
 2   damage_taken     40 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

In [48]:
damage_df['event_timestamp'] = pd.to_datetime(damage_df['event_timestamp'], format='%Y-%m-%d %H:%M:%S')

In [50]:
damage_df

       user_id     event_timestamp  damage_taken
0   d7f1e9b2a4 2023-08-15 09:23:42             6
1   d7f1e9b2a4 2023-08-17 08:12:19            15
2   d7f1e9b2a4 2023-08-18 11:05:33             1
3   d7f1e9b2a4 2023-08-21 16:34:56            15
4   d7f1e9b2a4 2023-08-22 19:48:01             6
5   d7f1e9b2a4 2023-08-24 07:36:29            11
6   d7f1e9b2a4 2023-08-26 01:15:22             8
7   a2e4f8c6b0 2023-08-26 02:37:55             7
8   c5d8a9f1e2 2023-08-14 17:29:18             8
9   c5d8a9f1e2 2023-08-16 14:52:05            12
10  c5d8a9f1e2 2023-08-18 22:08:19             9
11  c5d8a9f1e2 2023-08-20 09:47:41            10
12  c5d8a9f1e2 2023-08-23 03:25:57             3
13  c5d8a9f1e2 2023-08-24 13:14:12             6
14  c5d8a9f1e2 2023-08-26 02:05:38             6
15  b6f2d5a8c0 2023-08-17 06:59:30            12
16  9e1a3c7f5b 2023-08-26 00:05:45            16
17  9e1a3c7f5b 2023-08-26 04:21:59             9
18  9e1a3c7f5b 2023-08-26 08:45:14             3
19  9e1a3c7f5b 2023-08-26 12:17:36            17
20  9e1a3c7f5b 2023-08-26 16:59:05             4
21  9e1a3c7f5b 2023-08-26 20:30:49             4
22  9e1a3c7f5b 2023-08-26 23:55:02            15
23  4d6a2f8c1e 2023-08-17 14:08:47            16
24  4d6a2f8c1e 2023-08-18 17:29:01             7
25  4d6a2f8c1e 2023-08-20 10:44:24             8
26  4d6a2f8c1e 2023-08-21 19:03:11            12
27  4d6a2f8c1e 2023-08-23 08:45:27             4
28  4d6a2f8c1e 2023-08-24 14:59:58             2
29  4d6a2f8c1e 2023-08-26 01:30:42            13
30  8b0e7f3c9a 2023-08-26 02:55:08             4
31  8b0e7f3c9a 2023-08-26 06:08:22             8
32  8b0e7f3c9a 2023-08-26 09:20:39            10
33  8b0e7f3c9a 2023-08-26 12:45:18            10
34  8b0e7f3c9a 2023-08-26 15:57:29            17
35  8b0e7f3c9a 2023-08-26 19:08:10            12
36  8b0e7f3c9a 2023-08-26 22:33:47             3
37  f1d5a7e0c9 2023-08-16 23:15:29            17
38  e2b9d4a6f8 2023-08-20 08:46:52             6
39  3a5c7e9b1d 2023-08-18 07:57:14             3

In [75]:
damage_df.groupby(['user_id']).agg({'event_timestamp':['min', 'max']})

               event_timestamp
                           min                 max
user_id
3a5c7e9b1d 2023-08-18 07:57:14 2023-08-18 07:57:14
4d6a2f8c1e 2023-08-17 14:08:47 2023-08-26 01:30:42
8b0e7f3c9a 2023-08-26 02:55:08 2023-08-26 22:33:47
9e1a3c7f5b 2023-08-26 00:05:45 2023-08-26 23:55:02
a2e4f8c6b0 2023-08-26 02:37:55 2023-08-26 02:37:55
b6f2d5a8c0 2023-08-17 06:59:30 2023-08-17 06:59:30
c5d8a9f1e2 2023-08-14 17:29:18 2023-08-26 02:05:38
d7f1e9b2a4 2023-08-15 09:23:42 2023-08-26 01:15:22
e2b9d4a6f8 2023-08-20 08:46:52 2023-08-20 08:46:52
f1d5a7e0c9 2023-08-16 23:15:29 2023-08-16 23:15:29