# Player Analysis
### An analysis of randomly generated player data

In [156]:
#Import libraries
import pandas as pd
import glob
import os
import datetime as dt
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
import matplotlib.dates
import matplotlib.dates as mdates
import seaborn as sns

In [157]:
#Import csv files
path = os.getcwd()
csv_files = glob.glob(path + "/*.csv")

csv_files

['/Users/raws/Documents/GitHub/portfolio/Python/player_data/player_last_logout.csv',
 '/Users/raws/Documents/GitHub/portfolio/Python/player_data/player_damage.csv',
 '/Users/raws/Documents/GitHub/portfolio/Python/player_data/player_last_login.csv']

In [158]:
#Append csvs to list using list comprehension
df_list = [pd.read_csv(filename, index_col=None, header=0) for filename in csv_files]
df_list

[      user_id      event_timestamp
 0  b5a8c3f9e2  2023-08-26 03:42:18
 1  7d1b0e6f4a  2023-08-26 09:15:37
 2  2f9c6e8d1b  2023-08-26 01:28:54
 3  a3e7b4c0d9  2023-08-26 07:59:06
 4   f6b2d8a5c  2023-08-26 11:33:22
 5  9e4c1f7b3a  2023-08-26 06:10:45
 6   d5a0c8e2f  2023-08-26 10:49:03
 7  1b6f3e9d7c  2023-08-26 02:14:28
 8   c4d9a2b8e  2023-08-26 08:37:50
 9  8e0c7b5f1d  2023-08-26 04:56:12,
        user_id      event_timestamp  damage_taken
 0   d7f1e9b2a4  2023-08-15 09:23:42             6
 1   d7f1e9b2a4  2023-08-17 08:12:19            15
 2   d7f1e9b2a4  2023-08-18 11:05:33             1
 3   d7f1e9b2a4  2023-08-21 16:34:56            15
 4   d7f1e9b2a4  2023-08-22 19:48:01             6
 5   d7f1e9b2a4  2023-08-24 07:36:29            11
 6   d7f1e9b2a4  2023-08-26 01:15:22             8
 7   a2e4f8c6b0  2023-08-26 02:37:55             7
 8   c5d8a9f1e2  2023-08-14 17:29:18             8
 9   c5d8a9f1e2  2023-08-16 14:52:05            12
 10  c5d8a9f1e2  2023-08-18 22:08:19             9
 11  c5d8a9f1e2  2023-08-20 09:47:41            10
 12  c5d8a9f1e2  2023-08-23 03:25:57             3
 13  c5d8a9f1e2  2023-08-24 13:14:12             6
 14  c5d8a9f1e2  2023-08-26 02:05:38             6
 15  b6f2d5a8c0  2023-08-17 06:59:30            12
 16  9e1a3c7f5b  2023-08-26 00:05:45            16
 17  9e1a3c7f5b  2023-08-26 04:21:59             9
 18  9e1a3c7f5b  2023-08-26 08:45:14             3
 19  9e1a3c7f5b  2023-08-26 12:17:36            17
 20  9e1a3c7f5b  2023-08-26 16:59:05             4
 21  9e1a3c7f5b  2023-08-26 20:30:49             4
 22  9e1a3c7f5b  2023-08-26 23:55:02            15
 23  4d6a2f8c1e  2023-08-17 14:08:47            16
 24  4d6a2f8c1e  2023-08-18 17:29:01             7
 25  4d6a2f8c1e  2023-08-20 10:44:24             8
 26  4d6a2f8c1e  2023-08-21 19:03:11            12
 27  4d6a2f8c1e  2023-08-23 08:45:27             4
 28  4d6a2f8c1e  2023-08-24 14:59:58             2
 29  4d6a2f8c1e  2023-08-26 01:30:42            13
 30  8b0e7f3c9a  2023-08-26 02:55:08             4
 31  8b0e7f3c9a  2023-08-26 06:08:22             8
 32  8b0e7f3c9a  2023-08-26 09:20:39            10
 33  8b0e7f3c9a  2023-08-26 12:45:18            10
 34  8b0e7f3c9a  2023-08-26 15:57:29            17
 35  8b0e7f3c9a  2023-08-26 19:08:10            12
 36  8b0e7f3c9a  2023-08-26 22:33:47             3
 37  f1d5a7e0c9  2023-08-16 23:15:29            17
 38  e2b9d4a6f8  2023-08-20 08:46:52             6
 39  3a5c7e9b1d  2023-08-18 07:57:14             3,
       user_id      event_timestamp
 0  b5a8c3f9e2  2023-08-25 09:23:42
 1  7d1b0e6f4a  2023-08-18 16:55:10
 2  2f9c6e8d1b  2023-08-24 03:37:28
 3  a3e7b4c0d9  2023-08-16 11:10:55
 4   f6b2d8a5c  2023-08-28 20:45:19
 5  9e4c1f7b3a  2023-08-29 07:02:33
 6   d5a0c8e2f  2023-08-13 14:29:05
 7  1b6f3e9d7c  2023-08-20 22:18:47
 8   c4d9a2b8e  2023-08-22 05:37:15
 9  8e0c7b5f1d  2023-08-27 18:09:50]

In [159]:
#Separate csvs into dataframes using list indices
logout_df = df_list[0]
damage_df = df_list[1]
login_df = df_list[2]

In [160]:
#Examine login_df
login_df

      user_id      event_timestamp
0  b5a8c3f9e2  2023-08-25 09:23:42
1  7d1b0e6f4a  2023-08-18 16:55:10
2  2f9c6e8d1b  2023-08-24 03:37:28
3  a3e7b4c0d9  2023-08-16 11:10:55
4   f6b2d8a5c  2023-08-28 20:45:19
5  9e4c1f7b3a  2023-08-29 07:02:33
6   d5a0c8e2f  2023-08-13 14:29:05
7  1b6f3e9d7c  2023-08-20 22:18:47
8   c4d9a2b8e  2023-08-22 05:37:15
9  8e0c7b5f1d  2023-08-27 18:09:50

In [161]:
#Examine nulls and data types for login_df
login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [162]:
#Check for duplicates in login_df
login_df.duplicated().sum()

0

<div class="alert alert-warning">
  <strong>Summary of Findings</strong>
    <li>No null values or duplicates.</li>
    <li>event_timestamp needs to be converted to datetime data type.</li>
</div>

In [163]:
#Convert login event_timestamp to datetime format
login_df['event_timestamp'] = pd.to_datetime(login_df['event_timestamp'], format='%Y-%m-%d %H:%M:%S')

In [164]:
#Ensure event_timestamp has been successfully converted to datetime format
login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 288.0+ bytes

<div class="alert alert-success">
  <strong>Summary of Actions</strong>
    <li>event_timestamp converted to datetime data type.</li>
</div>

In [165]:
#Examine login_df
logout_df

      user_id      event_timestamp
0  b5a8c3f9e2  2023-08-26 03:42:18
1  7d1b0e6f4a  2023-08-26 09:15:37
2  2f9c6e8d1b  2023-08-26 01:28:54
3  a3e7b4c0d9  2023-08-26 07:59:06
4   f6b2d8a5c  2023-08-26 11:33:22
5  9e4c1f7b3a  2023-08-26 06:10:45
6   d5a0c8e2f  2023-08-26 10:49:03
7  1b6f3e9d7c  2023-08-26 02:14:28
8   c4d9a2b8e  2023-08-26 08:37:50
9  8e0c7b5f1d  2023-08-26 04:56:12

In [166]:
#Examine nulls and data types for logout_df
logout_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [167]:
#Check for duplicates in logout_df
logout_df.duplicated().sum()

0

In [168]:
#Convert logout event_timestamp to datetime format
logout_df['event_timestamp'] = pd.to_datetime(logout_df['event_timestamp'], format='%Y-%m-%d %H:%M:%S')

In [169]:
#Ensure event_timestamp has been successfully converted to datetime format
logout_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          10 non-null     object
 1   event_timestamp  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 288.0+ bytes

<div class="alert alert-warning">
  <strong>Summary of Findings</strong>
    <li>No null values or duplicates.</li>
    <li>event_timestamp needs to be converted to datetime data type.</li>
</div>

<div class="alert alert-success">
  <strong>Summary of Actions</strong>
    <li>event_timestamp converted to datetime data type.</li>
</div>

In [170]:
#Examine damage_df
damage_df

       user_id      event_timestamp  damage_taken
0   d7f1e9b2a4  2023-08-15 09:23:42             6
1   d7f1e9b2a4  2023-08-17 08:12:19            15
2   d7f1e9b2a4  2023-08-18 11:05:33             1
3   d7f1e9b2a4  2023-08-21 16:34:56            15
4   d7f1e9b2a4  2023-08-22 19:48:01             6
5   d7f1e9b2a4  2023-08-24 07:36:29            11
6   d7f1e9b2a4  2023-08-26 01:15:22             8
7   a2e4f8c6b0  2023-08-26 02:37:55             7
8   c5d8a9f1e2  2023-08-14 17:29:18             8
9   c5d8a9f1e2  2023-08-16 14:52:05            12
10  c5d8a9f1e2  2023-08-18 22:08:19             9
11  c5d8a9f1e2  2023-08-20 09:47:41            10
12  c5d8a9f1e2  2023-08-23 03:25:57             3
13  c5d8a9f1e2  2023-08-24 13:14:12             6
14  c5d8a9f1e2  2023-08-26 02:05:38             6
15  b6f2d5a8c0  2023-08-17 06:59:30            12
16  9e1a3c7f5b  2023-08-26 00:05:45            16
17  9e1a3c7f5b  2023-08-26 04:21:59             9
18  9e1a3c7f5b  2023-08-26 08:45:14             3
19  9e1a3c7f5b  2023-08-26 12:17:36            17
20  9e1a3c7f5b  2023-08-26 16:59:05             4
21  9e1a3c7f5b  2023-08-26 20:30:49             4
22  9e1a3c7f5b  2023-08-26 23:55:02            15
23  4d6a2f8c1e  2023-08-17 14:08:47            16
24  4d6a2f8c1e  2023-08-18 17:29:01             7
25  4d6a2f8c1e  2023-08-20 10:44:24             8
26  4d6a2f8c1e  2023-08-21 19:03:11            12
27  4d6a2f8c1e  2023-08-23 08:45:27             4
28  4d6a2f8c1e  2023-08-24 14:59:58             2
29  4d6a2f8c1e  2023-08-26 01:30:42            13
30  8b0e7f3c9a  2023-08-26 02:55:08             4
31  8b0e7f3c9a  2023-08-26 06:08:22             8
32  8b0e7f3c9a  2023-08-26 09:20:39            10
33  8b0e7f3c9a  2023-08-26 12:45:18            10
34  8b0e7f3c9a  2023-08-26 15:57:29            17
35  8b0e7f3c9a  2023-08-26 19:08:10            12
36  8b0e7f3c9a  2023-08-26 22:33:47             3
37  f1d5a7e0c9  2023-08-16 23:15:29            17
38  e2b9d4a6f8  2023-08-20 08:46:52             6
39  3a5c7e9b1d  2023-08-18 07:57:14             3

In [171]:
#Examine null values and datatypes for damage_df
damage_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          40 non-null     object
 1   event_timestamp  40 non-null     object
 2   damage_taken     40 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

In [172]:
#Convert damage_df event_timestamp to datetime format
damage_df['event_timestamp'] = pd.to_datetime(damage_df['event_timestamp'], format='%Y-%m-%d %H:%M:%S')

In [173]:
#Examine duration of player damage time
damage_df.groupby(['user_id']).agg({'event_timestamp':['min', 'max']})

               event_timestamp
                           min                 max
user_id
3a5c7e9b1d 2023-08-18 07:57:14 2023-08-18 07:57:14
4d6a2f8c1e 2023-08-17 14:08:47 2023-08-26 01:30:42
8b0e7f3c9a 2023-08-26 02:55:08 2023-08-26 22:33:47
9e1a3c7f5b 2023-08-26 00:05:45 2023-08-26 23:55:02
a2e4f8c6b0 2023-08-26 02:37:55 2023-08-26 02:37:55
b6f2d5a8c0 2023-08-17 06:59:30 2023-08-17 06:59:30
c5d8a9f1e2 2023-08-14 17:29:18 2023-08-26 02:05:38
d7f1e9b2a4 2023-08-15 09:23:42 2023-08-26 01:15:22
e2b9d4a6f8 2023-08-20 08:46:52 2023-08-20 08:46:52
f1d5a7e0c9 2023-08-16 23:15:29 2023-08-16 23:15:29

<div class="alert alert-warning">
  <strong>Summary of Findings</strong>
    <li>Some players only died once.</li>
</div>

In [174]:
#Create column of total time played based on difference between logout and login time
logout_df['total_time_played'] = (logout_df['event_timestamp'] - login_df['event_timestamp'])

In [175]:
#Examine newly generated feature total_time_played
logout_df['total_time_played']

0     0 days 18:18:36
1     7 days 16:20:27
2     1 days 21:51:26
3     9 days 20:48:11
4   -3 days +14:48:03
5   -4 days +23:08:12
6    12 days 20:19:58
7     5 days 03:55:41
8     4 days 03:00:35
9   -2 days +10:46:22
Name: total_time_played, dtype: timedelta64[ns]

<div class="alert alert-warning">
  <strong>Summary of Findings</strong>
    <li>Some players have negative login time. Will edit the data to fix this.</li>
</div>

In [176]:
#Identify users with negative login time
logout_df[logout_df['total_time_played'] < pd.Timedelta(0)]

      user_id     event_timestamp total_time_played
4   f6b2d8a5c 2023-08-26 11:33:22 -3 days +14:48:03
5  9e4c1f7b3a 2023-08-26 06:10:45 -4 days +23:08:12
9  8e0c7b5f1d 2023-08-26 04:56:12 -2 days +10:46:22

<div class="alert alert-warning">
  <strong>Summary of Findings</strong>
    <li>users f6b2d8a5c, 9e4c1f7b3a, and 8e0c7b5f1d are identified as those with negative login time.</li>
</div>

In [177]:
#Examine login times for above users in order to set them back enough to create positive login time
login_df

      user_id     event_timestamp
0  b5a8c3f9e2 2023-08-25 09:23:42
1  7d1b0e6f4a 2023-08-18 16:55:10
2  2f9c6e8d1b 2023-08-24 03:37:28
3  a3e7b4c0d9 2023-08-16 11:10:55
4   f6b2d8a5c 2023-08-28 20:45:19
5  9e4c1f7b3a 2023-08-29 07:02:33
6   d5a0c8e2f 2023-08-13 14:29:05
7  1b6f3e9d7c 2023-08-20 22:18:47
8   c4d9a2b8e 2023-08-22 05:37:15
9  8e0c7b5f1d 2023-08-27 18:09:50

In [178]:
#Alter login times to create net positive login time
#login_df.at[4, 'event_timestamp']='2023-08-22 20:45:19'
#login_df.at[5, 'event_timestamp']='2023-08-23 07:02:33'
#login_df.at[9, 'event_timestamp']='2023-08-22 18:09:50'

In [184]:
#Alternate method to accomplish above
login_df.iloc[[4],[1]] = login_df.iloc[[4],[1]]='2023-08-22 20:45:19'
login_df.iloc[[5],[1]] = login_df.iloc[[4],[1]]='2023-08-23 07:02:33'
login_df.iloc[[9],[1]] = login_df.iloc[[4],[1]]='2023-08-22 18:09:50'

In [185]:
#Examine new login times 
login_df

      user_id     event_timestamp
0  b5a8c3f9e2 2023-08-25 09:23:42
1  7d1b0e6f4a 2023-08-18 16:55:10
2  2f9c6e8d1b 2023-08-24 03:37:28
3  a3e7b4c0d9 2023-08-16 11:10:55
4   f6b2d8a5c 2023-08-22 18:09:50
5  9e4c1f7b3a 2023-08-23 07:02:33
6   d5a0c8e2f 2023-08-13 14:29:05
7  1b6f3e9d7c 2023-08-20 22:18:47
8   c4d9a2b8e 2023-08-22 05:37:15
9  8e0c7b5f1d 2023-08-22 18:09:50

In [186]:
#Check to see if new total_time_played propagated
logout_df

      user_id     event_timestamp total_time_played
0  b5a8c3f9e2 2023-08-26 03:42:18   0 days 18:18:36
1  7d1b0e6f4a 2023-08-26 09:15:37   7 days 16:20:27
2  2f9c6e8d1b 2023-08-26 01:28:54   1 days 21:51:26
3  a3e7b4c0d9 2023-08-26 07:59:06   9 days 20:48:11
4   f6b2d8a5c 2023-08-26 11:33:22 -3 days +14:48:03
5  9e4c1f7b3a 2023-08-26 06:10:45 -4 days +23:08:12
6   d5a0c8e2f 2023-08-26 10:49:03  12 days 20:19:58
7  1b6f3e9d7c 2023-08-26 02:14:28   5 days 03:55:41
8   c4d9a2b8e 2023-08-26 08:37:50   4 days 03:00:35
9  8e0c7b5f1d 2023-08-26 04:56:12 -2 days +10:46:22

<div class="alert alert-warning">
  <strong>Summary of Findings</strong>
    <li>It did not. Have to reassign column.</li>
</div>

In [189]:
#Reassign total_time_played column 
logout_df['total_time_played'] = logout_df['event_timestamp'] - login_df['event_timestamp']

In [190]:
#Check to see if total_time_played updated
logout_df

      user_id     event_timestamp total_time_played
0  b5a8c3f9e2 2023-08-26 03:42:18   0 days 18:18:36
1  7d1b0e6f4a 2023-08-26 09:15:37   7 days 16:20:27
2  2f9c6e8d1b 2023-08-26 01:28:54   1 days 21:51:26
3  a3e7b4c0d9 2023-08-26 07:59:06   9 days 20:48:11
4   f6b2d8a5c 2023-08-26 11:33:22   3 days 17:23:32
5  9e4c1f7b3a 2023-08-26 06:10:45   2 days 23:08:12
6   d5a0c8e2f 2023-08-26 10:49:03  12 days 20:19:58
7  1b6f3e9d7c 2023-08-26 02:14:28   5 days 03:55:41
8   c4d9a2b8e 2023-08-26 08:37:50   4 days 03:00:35
9  8e0c7b5f1d 2023-08-26 04:56:12   3 days 10:46:22

<div class="alert alert-warning">
  <strong>Summary of Findings</strong>
    <li>Success! Now all players have positive play time.</li>
</div>

In [192]:
#Create master dataframe of login and logout data
log_df = login_df.merge(logout_df, on='user_id')
log_df

      user_id   event_timestamp_x   event_timestamp_y total_time_played
0  b5a8c3f9e2 2023-08-25 09:23:42 2023-08-26 03:42:18   0 days 18:18:36
1  7d1b0e6f4a 2023-08-18 16:55:10 2023-08-26 09:15:37   7 days 16:20:27
2  2f9c6e8d1b 2023-08-24 03:37:28 2023-08-26 01:28:54   1 days 21:51:26
3  a3e7b4c0d9 2023-08-16 11:10:55 2023-08-26 07:59:06   9 days 20:48:11
4   f6b2d8a5c 2023-08-22 18:09:50 2023-08-26 11:33:22   3 days 17:23:32
5  9e4c1f7b3a 2023-08-23 07:02:33 2023-08-26 06:10:45   2 days 23:08:12
6   d5a0c8e2f 2023-08-13 14:29:05 2023-08-26 10:49:03  12 days 20:19:58
7  1b6f3e9d7c 2023-08-20 22:18:47 2023-08-26 02:14:28   5 days 03:55:41
8   c4d9a2b8e 2023-08-22 05:37:15 2023-08-26 08:37:50   4 days 03:00:35
9  8e0c7b5f1d 2023-08-22 18:09:50 2023-08-26 04:56:12   3 days 10:46:22

In [194]:
#Rename columns for login and logout time
log_df.rename(columns={'event_timestamp_x':'login','event_timestamp_y':'logout'})

      user_id               login              logout total_time_played
0  b5a8c3f9e2 2023-08-25 09:23:42 2023-08-26 03:42:18   0 days 18:18:36
1  7d1b0e6f4a 2023-08-18 16:55:10 2023-08-26 09:15:37   7 days 16:20:27
2  2f9c6e8d1b 2023-08-24 03:37:28 2023-08-26 01:28:54   1 days 21:51:26
3  a3e7b4c0d9 2023-08-16 11:10:55 2023-08-26 07:59:06   9 days 20:48:11
4   f6b2d8a5c 2023-08-22 18:09:50 2023-08-26 11:33:22   3 days 17:23:32
5  9e4c1f7b3a 2023-08-23 07:02:33 2023-08-26 06:10:45   2 days 23:08:12
6   d5a0c8e2f 2023-08-13 14:29:05 2023-08-26 10:49:03  12 days 20:19:58
7  1b6f3e9d7c 2023-08-20 22:18:47 2023-08-26 02:14:28   5 days 03:55:41
8   c4d9a2b8e 2023-08-22 05:37:15 2023-08-26 08:37:50   4 days 03:00:35
9  8e0c7b5f1d 2023-08-22 18:09:50 2023-08-26 04:56:12   3 days 10:46:22

In [199]:
log_df['total_time_played'].sort_values(ascending=False)

6   12 days 20:19:58
3    9 days 20:48:11
1    7 days 16:20:27
7    5 days 03:55:41
8    4 days 03:00:35
4    3 days 17:23:32
9    3 days 10:46:22
5    2 days 23:08:12
2    1 days 21:51:26
0    0 days 18:18:36
Name: total_time_played, dtype: timedelta64[ns]